* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;

    color: var(--colorWhite);
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

:root {
    --colorWhite: rgb(216 ,222, 211);
    --colorBlack: rgb(31, 31, 31);
    --colorMain: rgb(76, 88, 68);
    --colorBack: rgb(62, 70, 55);

    --colorDarkShade: rgb(40, 46, 34);
    --colorLightShade: rgb(136, 145, 128);

    --colorHighlight: rgb(148, 138, 51);
}

:root {
    --colorWhite: rgb(222 ,222, 222);
    --colorBlack: rgb(25, 25, 25);
    --colorMain: rgb(118, 118, 118);
    --colorBack: rgb(85, 85, 85);

    --colorDarkShade: rgb(52, 52, 52);
    --colorLightShade: rgb(183, 183, 183);

    --colorHighlight: rgb(255, 156, 0);
}

::selection {
    color: var(--colorBlack);
    background: var(--colorHighlight);
}

body {
    width: 100vw;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--colorMain);
}

/* O START OF PANE SIZING O */

.upper-wrapper {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1%;
}

.lower-wrapper {
    display: flex;
    width: 100%;
    height: 35%;
}

.left-pane {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
}

.center-pane {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    width: 1%;
    height: 100%;
}

.right-pane {
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 25%;
    height: 100%;
}

.head-pane {
    display: flex;
    box-sizing: content-box;
    width: 100%;
    height: 30px;
}

.window-pane {
    width: 100%;
    height: calc(100% - 30px);
    background: var(--colorBack);
}

/* X END OF PANE SIZING X */


/* O START OF WINDOW STYLING O */

.window {
    background: var(--colorMain);
    border-top: 2px solid var(--colorLightShade);
    border-left: 2px solid var(--colorLightShade);
    border-bottom: 2px solid var(--colorDarkShade);
    border-right: 2px solid var(--colorDarkShade);
    user-select: none;
    /*box-sizing: content-box;*/
}

.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 .75rem;
    margin-bottom: .75rem;
    width: 100%;
    height: 2rem;
}

.text {
    text-align: center;
}

/* X END OF WINDOW STYLING X */


/* O START OF INPUTS O */

.btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--colorWhite);
    background: var(--colorMain);
    border-top: 2px solid var(--colorLightShade);
    border-left: 2px solid var(--colorLightShade);
    border-bottom: 2px solid var(--colorDarkShade);
    border-right: 2px solid var(--colorDarkShade);
    height: 2rem;
    padding: 0 .5rem;
    user-select: none;
}

.btn:active {
    border-top: 2px solid var(--colorDarkShade);
    border-left: 2px solid var(--colorDarkShade);
    border-bottom: 2px solid var(--colorLightShade);
    border-right: 2px solid var(--colorLightShade);
}

.select {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--colorWhite);
    background-color: var(--colorBack);
    border-top: 2px solid var(--colorDarkShade);
    border-left: 2px solid var(--colorDarkShade);
    border-bottom: 2px solid var(--colorLightShade);
    border-right: 2px solid var(--colorLightShade);
    height: 2rem;
    padding: 0 .5rem;
    user-select: text !important;
}

.select:focus {
    color: var(--colorHighlight);
}

.select::after {

}

.option {
    color: var(--colorWhite);
    background-color: var(--colorBack);
}

.option:hover {
    color: var(--colorWhite);
    background-color: var(--colorHighlight);
}

.active {
    color: var(--colorBlack);
    background-color: var(--colorHighlight);
    border-top: 2px solid var(--colorDarkShade);
    border-left: 2px solid var(--colorDarkShade);
    border-bottom: 2px solid var(--colorLightShade);
    border-right: 2px solid var(--colorLightShade);
}

.disabled {
    color: var(--colorBlack);
    background-color: var(--colorBack);
    border-top: 2px solid var(--colorDarkShade);
    border-left: 2px solid var(--colorDarkShade);
    border-bottom: 2px solid var(--colorLightShade);
    border-right: 2px solid var(--colorLightShade);
    cursor: not-allowed;
}

.close {
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    width: 1.5rem;
    height: 1.5rem;
}

.small {width: 100px;}
.medium {width: 150px;}
.large {width: 250px;}
.stretch {width: 90%;}
.max {width: max-content;}

.center {margin: 0 auto;}
.centrify {justify-content: center;}

/* X END OF INPUTS X */