:root {
  --canvasDefault: rgb(77, 77, 77);

  --windowColor: #FFF;
  --windowInactice: rgb(102, 107, 117);
  --windowHigh: rgb(187, 187, 187);
  --windowOutline: rgb(52, 52, 52);
  --windowDark: rgb(120, 120, 120);
  --windowBack: rgb(120, 120, 120);
  --windowInner: rgb(85, 85, 85);

  --highLight: rgb(255, 156, 0) ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  flex-direction: column;
  display: flex;

  background: var(--windowDark);
  width: 100vw;
  height: 100vh;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;

  user-select: none;
}

#top-pane {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 3.4rem;

}

#bottom-pane {
  display: flex;
  width: 100%;
  height: calc(100% - 3.4rem);
}

#left-pane {
  width: 20%;
  height: 100%;
}

#middle-pane {
  display: flex;
  flex-direction: column;

  width: 55%;
  height: 100%;
}

#middle-pane > #canvas-pane {
  width: 100%;
  height: 60%;
}

#middle-pane > #asset-pane {
  width: 100%;
  height: 40%;
}

#right-pane {
  width: 25%;
  height: 100%;
}

/*

#bottom-pane {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35%;
  background-color: rgb(86, 145, 255);
}

#bottom-pane > .window {
  width: 60%;
  height: 100%;
}
*/


#modal-pane {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: rgba(39, 36, 36, 0.7);
}

#iframe {
  overflow: hidden;
}

.window {
  display: flex;
  flex-direction: column;

  padding: .1rem; /* .1rem */
  width: 100%;
  height: 100%;

  color: var(--windowColor);
}

.window .tab-wrapper {
  display: flex;
  height: 2.4rem;
  overflow: hidden;
}

.window .tab {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-right: 1px;

  width: fit-content;
  
  background: var(--windowInner);
  border-top: 2px solid var(--windowOutline);
  border-left: 2px solid var(--windowOutline);
  border-right: 2px solid var(--windowOutline);

  border-top: 2px solid var(--windowHigh);
  border-left: 2px solid var(--windowHigh);
}

.active {
  background: var(--windowBack) !important;
}

/*
.active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  transform: translateY();
}
*/

.window .wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background: var(--windowBack);
  border: 2px solid var(--windowOutline);
  
  border-top: 2px solid var(--windowHigh);
  border-left: 2px solid var(--windowHigh);
}

.window .head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;

  height: 2.5rem;
  width: calc(100% - .4rem);

  text-indent: .2rem;
}

.window .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;

  height: 100%;

  margin: .2rem;
  margin-top: 0;

  background: var(--windowInner);
  border: 2px solid var(--windowOutline);

  border-bottom: 2px solid var(--windowHigh);
  border-right: 2px solid var(--windowHigh);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;

  margin: 0 .3rem;

  color: var(--windowColor);
  background: var(--windowBack);
  border: 2px solid var(--windowOutline);
  font-size: 1.2rem !important;

  border-top: 2px solid var(--windowHigh);
  border-left: 2px solid var(--windowHigh);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90%;
  height: 2.2rem;
  margin-top: 1rem;

  border: 2px solid var(--windowOutline);
  border-top: 2px solid var(--windowHigh);
  border-left: 2px solid var(--windowHigh);

  background-color: var(--windowBack);
}

.button:active, .icon:active {
  border: 2px solid var(--windowHigh);
  border-top: 2px solid var(--windowOutline);
  border-left: 2px solid var(--windowOutline);

  background-color: var(--windowInner);
}

.pushed {
  border: 2px solid var(--windowHigh);
  border-top: 2px solid var(--windowOutline);
  border-left: 2px solid var(--windowOutline);

  background-color: var(--highLight);
}







/*
#top-pane {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 3.4rem;

  display: none;
}

#middle-pane {
  display: flex;

  width: 100%;
  height: 65%;
  background-color: rgb(201, 135, 13);
}

#middle-pane > #tool-pane, #inspector-pane {
  width: 20%;
  height: 100%;
  background-color: rgb(255, 0, 234);
}

#middle-pane > #canvas-pane {
  width: 60%;
  height: 100%;
  background-color: rgb(53, 206, 53);
}

#bottom-pane {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35%;
  background-color: rgb(86, 145, 255);
}

#bottom-pane > .window {
  width: 60%;
  height: 100%;
}


*/